# Python
__pycache__/
models/*.pyc
app/*.pyc
*.py[cod]
*.so


# Virtualenv
venv/
ENV/
env/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
static/
static/uploads/
static/uploads/videos/
static/uploads/docs/
static/uploads/images/
instance/
migrations/
app/__pycache__
app/__pycache__/
models/__pycache__
models/__pycache__/